<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Car Serving a Auto Mobile Category Category Bootstrap Responsive Template | Contact :: W3layouts</title>
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  {{!-- <link rel="stylesheet" href="stylesheets/style-starter.css"> --}}
  

  <!-- Template CSS -->
</head>

<body>
  <!--header-->

  <!--/header-->
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-lg-5 py-3">
        <h2 class="title">Counts</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="#url">Admin</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>Change Counts</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <section class="w3l-contact-11">
    <div class="form-41-mian py-5">
      <div class="container py-lg-4">
        <div class="row align-form-map">
          <div class="col-lg-6 form-inner-cont">
            <div class="title-content text-left">
              <h3 class="hny-title mb-lg-5 mb-4">Counts</h3>
            </div><P>
                
                
            <form action="/admin/changecount" method="post" id="checkoutform" class="signin-form">
              <div class="form-input">
                {{#each counts}}
                <input type="text" name="Ccount"  value="{{this.Ccount}}" id="Name" placeholder="Customer Count" />
              </div>
              <div class="row con-two">
                <div class="col-lg-6 form-input">
                  <input type="text" name="Dcount" id="Phone" value="{{this.Dcount}}" placeholder="Driver Count"  />
                </div>
                <div class="col-lg-6 form-input">
                  <input type="text" name="Pcount" placeholder="Pending Count" value="{{this.Pcount}}" id="Email" class="contact-input" />
                </div>
                {{!-- <div class="col-lg-6 form-input">
                    <input type="radio" required="" name="Payment" value="COD" id="">Please Select this Box
                <input type="radio" hidden  name="Payment" value="ONLINE" id="">
              
                </div> --}}
               </div>
              <div class="submit-button text-lg-right">
               <button type="submit" class="btn btn-style">Submit</button>
               {{/each}}
               
                {{!-- <button type="submit" class="btn btn-style">PAY {{total}}RS</button> --}}
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


 
  <!-- footer-66 -->

  <!--//footer-66 -->
  <!-- Template JavaScript -->
  
 <script src="/javascripts/theme-change.js"></script>
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>